

@font-face {
  font-family: Stolzl; src: url('fonts/Stolzl-Regular.otf');
}
@font-face {
  font-family: Stolzl;
  font-weight: 600;
  src: url('fonts/Stolzl-Medium.otf');
}
@font-face {
  font-family: Stolzl;
  font-weight: bold;
  src: url('fonts/Stolzl-Bold.otf');
}
@font-face {
  font-family: Monument;
  src: url('fonts/MonumentExtended-Ultrabold.otf');
}

body {
  font-family: Stolzl, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}
.font-monument {
  font-family: Monument, sans-serif;
}